@charset "utf-8";

/*--- common style ---*/
.is-halfWidth {
  width: 50%;
}

.is-fullWidth {
  width: 100%;
}

.is-defaultText {
  color: #949697;
  font-size: 12px;
}

/*--- リンク ---*/
.link-color {
  color: #01a6a4;
}

.link-color:hover {
  color: #01bfbd;
}

/*--- ボタンパーツ ---*/
.button-init {
  text-decoration: none;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  transition: .3s;
  padding: 13px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
/*--- common style end ---*/

.wrapper {
  padding: 32px 0;
  width: 100%;
  background-color: #f2f6f7;
}

.inner {
  margin: 0 auto;
  width: 640px;
}

.main-content {
  box-sizing: border-box;
  padding: 48px 64px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .18);
}

.form-title {
  text-align: center;
  color: #545658;
  font-size: 24px;
}

/*--- SNS part ---*/
.columns {
  display: flex;
  margin-top: 24px;
}

.column:last-child {
  margin-left: 8px;
}

.is-facebook {
  color: #fff;
  background-color: #3b5999;
  border-color: #3b5999;
}

.is-facebook:hover {
  background-color: #344e87;
  border-color: transparent;
}

.is-google {
  color: #dd4b39;
  background-color: #fff;
}

.is-google:hover {
  background-color: #f7f7f7;
}

.supplement-text {
  text-align: center;
  margin-top: 8px;
}

.devider {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.devider p {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  background-color: #fff;
}

.devider::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background-color: #ececec;
}

/*--- form part ---*/
.form-content {
  margin-top: 20px;
}

/*--- 利用規約 ---*/
.agreement {
  font-size: 12px;
  line-height: 16px;
  margin-top: 20px;
}

/*--- foot part---*/
.foot-part {
  text-align: center;
  margin-top: 32px;
}

.foot-part p, .resend-mail {
  line-height: 16px;
  font-size: 12px;
}

.resend-mail {
  margin-top: 8px;
}

.foot-part a:hover {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  border-bottom-color: #01bfbd;
}

.resend-mail {
  display: inline-block;
}

/*--- 課題 ---*/

.contentsspace {
  margin-top: 20px;
}

.labeltext {
  display: block;
  font-size: 12px;
  color: #545658;
}

.inputspace {
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box;
  height: 36px;
  padding: 5px;
  color: #545658;
  font-size: 13px;
  line-height: 2;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  outline:.5px #01bfbccb;
}

.inputspace:focus {
  border: 1px solid #01bfbcc9;
}

.alert {
  color: #dd4b39;
}

.namebox {
  display: flex;
}

.name {
  margin-left: 16px;
}

.name:first-child {
  margin-left: 0;
}

.gendercontents {
  display: flex;
  color: #545658;
  font-size: 16px;
  margin-top: 5px;
}

.gendercontent {
  margin-left: 15px;
  cursor: pointer;
}

.gendercontent:first-child {
  margin-left: 0;
}

.gendercontent > input, .courseoption > input {
  display: none;
}

.gendercontent > span {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.gendercontent > span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 14px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.genderinput:checked + span::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  height: 8px;
  width: 8px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #01bfbd;
}

.selectspace {
  position: relative;
  margin-top: 8px;
}

.birthplaceinput {
  margin-top: 0;
}

.birthplaceinput > option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.selecter {
  -webkit-appearance: none;
}

.selectspace::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 45%;
  transform: rotate(45deg);
  height: 5px;
  width: 5px;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}

.courseoption {
  margin-top: 10px;
}

.courseoption:nth-of-type(1) {
  margin-top: 5px;
}

.courseoption > label {
  padding-left: 25px;
  position: relative;
}

.courseoption > label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 15px;
  width: 15px;
  margin-top: -8px;
  border: 1px solid #d9d9d9;
}

.courseoption > input:checked + .courseoption > label::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: rotate(45deg);
  height: 16px;
  width: 8px;
  margin-top: -12px;
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
}

.remarkspace {
  height: 100px;
  resize: none;
}

.submitbutton {
  padding: 13px;
  background-color: #01bfbd;
  color: #fff;
  border: 1px solid #01bfbd;
  transition: all .3s;
}

.submitbutton:hover {
  background-color: #02a5a2;
}